<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.my.YclassMapper">

	<insert id="insert">
		INSERT INTO YCLASS (CLSNAME, TEACHERID, CLSDATE, CLSTIME, CLSPRICE, FILENAME, CLSNUMBER)
		VALUES (#{clsname}, #{teacherid}, #{clsdate}, #{clstime}, #{clsprice}, #{filename}, #{clsnumber})
	</insert>

	<select id="selectClassOne" resultType="Yclass">
		SELECT Y.*, M.STATE
		FROM
		    (SELECT C.*, M.NAME
		    FROM YCLASS C JOIN YMEMBER M ON(C.TEACHERID = M.USERID)
		    WHERE CLSNUM = #{clsnum}) Y
		JOIN (SELECT * FROM REACTION WHERE USERID = #{userid}) M ON (Y.CLSNUM = M.CLSNUM)
	</select>
	
	<select id="selectOne" resultType="Yclass">
		SELECT C.*, M.NAME
	    FROM YCLASS C JOIN YMEMBER M ON(C.TEACHERID = M.USERID)
	    WHERE CLSNUM = #{clsnum}
	</select>
	
	<select id="selectTeacherList" resultType="Ymember">
		SELECT * FROM YMEMBER
		WHERE ADMIN = '1' 
		ORDER BY REGDATE DESC
	</select>
	
	<select id="selectClassList" resultType="Yclass">
		SELECT C.*, IFNULL(R.REVIEWCNT, 0) REVIEWCNT
        FROM (SELECT c.*, m.NAME, m.filename image
              FROM YCLASS c JOIN YMEMBER m on(c.TEACHERID = m.userid)) C
              
              LEFT JOIN (select COUNT(*) REVIEWCNT, YSALES.CLSNUM from YREVIEW 
                    JOIN YSALES ON(YREVIEW.SALENUM = YSALES.SALENUM) 
                    GROUP BY YSALES.CLSNUM) R
              ON(C.CLSNUM = R.CLSNUM)
        ORDER BY CLSDATE
	</select>
	
	<!-- 페이징시 6개씩 + 클래스별 리뷰갯수 -->
	<select id="selectClassListPage" resultType="Yclass">
        SELECT C.*, IFNULL(R.REVIEWCNT, 0) REVIEWCNT
        FROM (SELECT c.*, m.NAME, m.filename image
              FROM YCLASS c JOIN YMEMBER m on(c.TEACHERID = m.userid)) C
              
              LEFT JOIN (select COUNT(*) REVIEWCNT, YSALES.CLSNUM from YREVIEW 
                    JOIN YSALES ON(YREVIEW.SALENUM = YSALES.SALENUM) 
                    GROUP BY YSALES.CLSNUM) R
              ON(C.CLSNUM = R.CLSNUM)
        ORDER BY CLSDATE
		LIMIT #{startNum}, #{perPage}
	</select>
	
	<!-- 페이징처리를 위한 전체 게시물 조회 -->
	<select id="selectTotCnt" resultType="int">
		SELECT COUNT(*) TOTCNT FROM YCLASS
	</select>
	
	<delete id="delete">
		DELETE FROM YCLASS
		WHERE CLSNUM=#{clsnum}
	</delete>
	
	<update id="update">
		UPDATE YCLASS SET
		CLSNAME = #{clsname}, 
		TEACHERID =#{teacherid}, 
		CLSDATE = #{clsdate}, 
		CLSTIME = #{clstime}, 
		CLSPRICE = #{clsprice},
		CLSNUMBER = #{clsnumber},
		FILENAME= #{filename},
		MODIFYDATE = now()
		WHERE CLSNUM = #{clsnum}
	</update>
	
	<!-- 조회수 +1 -->
	<update id="updateReadCnt">
		UPDATE YCLASS
		SET READCNT = READCNT +1
		WHERE CLSNUM = #{clsnum}
	</update>
	
	<!-- 좋아요 +1 -->
	<update id="updateLikeCnt">
		UPDATE YCLASS
		SET LIKECNT = LIKECNT +1
		WHERE CLSNUM = #{clsnum}
	</update>
	
	<!-- 좋아요 -1 -->
	<update id="updateLikeCntCancel">
		UPDATE YCLASS
		SET LIKECNT = LIKECNT -1
		WHERE CLSNUM = #{clsnum}
	</update>

</mapper>